<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="squad-mood-metric#overview">Overview</a></li>
        <li><a href="squad-mood-metric#business-impact">Business Impact</a></li>
        <li><a href="squad-mood-metric#my-contribution">My Contributions</a></li>
    </ul>
</nav>


<section class="project-section">
    <div class="project-container">
        <header class="project-header">
            <h1 class="project-title">Squad Mood Metric</h1>
            <p class="project-subtitle">Splunk, Postman, Python</p>
            <p class="contribution-date">Jan 2022 - Apr 2022</p>
        </header>
        
        <table class="project-table">
            <tr>
                <td class="project-table-cell">
                    <h2 id ="overview" class="project-table-heading">Project Overview</h2>
                    <p class="project-table-text">The project involved bi-weekly collection and analysis of mood metrics from 10 teams to assess their productivity. Utilizing <strong>Python</strong> scripts, <strong>Postman</strong>, and <strong>Splunk</strong>, data was processed and visualized to guide leadership in resource allocation.</p>
                </td>
                <td class="project-table-cell">
                    <h2 id = "business-impact" class="project-table-heading">Business Impact</h2>
                    <p class="project-table-text">The project's impact was marked by a 10% increase in overall productivity, reflecting improvements in team efficiency and morale. This enhancement stemmed from data-driven resource allocation and proactive issue resolution, fostering a more effective and positive work environment.</p>
                </td>
            </tr>
        </table>

        <div class="image-container">
            <img src="../../../../../assets/images/2022-squad-mood-metric/mood_distribution.png" alt="Jira Metric Tool Screenshot" class="full-width-image"/>
        </div>
        
        <footer class="image-footer">
            <p class="image-description">Example on Displaying the Squad Mood Data.</p>
        </footer>

        <table class="contributions-table">
            <tr>
                <td class="contributions-cell">
                    <h2 id="my-contribution" class="contributions-heading">The Challenges</h2>
                </td>
                <td class="contributions-cell">
                    <p class="contribution-description">To accomplish this project, my primary objective was to devise a method for data collection and visualization on a Splunk dashboard. The procedure started with the biweekly compilation of information into an Excel document. After that, I used Postman once a week to submit this data to Splunk.</p>
                    <br>
                    <p class="contribution-description">The main challenge I had was modifying the data to satisfy the unique encapsulation requirements of the Splunk API before transmission. To start, I used Python to extract the data from Excel and save it as a CSV file. Then, I included further arguments that were necessary for the POST request. Additionally, before sending the data, I filtered the data so it’s easier to manipulate on Splunk. This step was essential to guaranteeing that the data could be accessed as well as fulfilling the API criteria.</p>
                </td>
            </tr>
        </table>
    </div>
    <app-contact></app-contact>
</section>
