<div *ngIf="isMobile; else desktopView" class="mobile-slider">
  <div class="slide" [class.active]="activeSlide === i" *ngFor="let item of currentEndeavors; let i = index">{{ item }}</div>
  <div class="slide" [class.active]="activeSlide === i + currentEndeavors.length" *ngFor="let item of dreams; let i = index">{{ item }}</div>
  <div class="slide" [class.active]="activeSlide === i + currentEndeavors.length + dreams.length" *ngFor="let item of personalInsights; let i = index">{{ item }}</div>
  <div class="slide" [class.active]="activeSlide === i + currentEndeavors.length + dreams.length + personalInsights.length" *ngFor="let item of valuesDrive; let i = index">{{ item }}</div>
  <div class="slide" [class.active]="activeSlide === i + currentEndeavors.length + dreams.length + personalInsights.length + valuesDrive.length" *ngFor="let item of uniqueStrengths; let i = index">{{ item }}</div>
  <div class="slide" [class.active]="activeSlide === i + currentEndeavors.length + dreams.length + personalInsights.length + valuesDrive.length + uniqueStrengths.length" *ngFor="let item of futureVisions; let i = index">{{ item }}</div>
</div>

<ng-template #desktopView>
  <div class="about-container">
    <div class="about-section" id="current-endeavors">
      <h3>Current Endeavors</h3>
      <ul>
        <li *ngFor="let item of currentEndeavors">{{ item }}</li>
      </ul>
    </div>
    <div class="about-section" id="dreams">
      <h3>Dreams</h3>
      <ul>
        <li *ngFor="let item of dreams">{{ item }}</li>
      </ul>
    </div>
    <div class="about-section" id="personal-insights">
      <h3>Personal Insights</h3>
      <ul>
        <li *ngFor="let item of personalInsights">{{ item }}</li>
      </ul>
    </div>
    <div class="about-section" id="values-drive">
      <h3>Values and Drive</h3>
      <ul>
        <li *ngFor="let item of valuesDrive">{{ item }}</li>
      </ul>
    </div>
    <div class="about-section" id="unique-strengths">
      <h3>Unique Strengths</h3>
      <ul>
        <li *ngFor="let item of uniqueStrengths">{{ item }}</li>
      </ul>
    </div>
    <div class="about-section" id="future-visions">
      <h3>Future Visions</h3>
      <ul>
        <li *ngFor="let item of futureVisions">{{ item }}</li>
      </ul>
    </div>
  </div>
</ng-template>
