  <div id = about>
    <div class="about-container">
      <!-- Current Endeavors Section -->
      <div class="about-section" id="current-endeavors">
        <h3>Current Endeavors</h3>
        <ul>
          <li *ngFor="let item of currentEndeavors">{{ item }}</li>
        </ul>
      </div>
    
      <!-- Dreams Section -->
      <div class="about-section" id="dreams">
        <h3>Dreams</h3>
        <ul>
          <li *ngFor="let item of dreams">{{ item }}</li>
        </ul>
      </div>
    
      <!-- Personal Insights Section -->
      <div class="about-section" id="personal-insights">
        <h3>Personal Insights</h3>
        <ul>
          <li *ngFor="let item of personalInsights">{{ item }}</li>
        </ul>
      </div>
    
      <!-- Values and Drive Section -->
      <div class="about-section" id="values-drive">
        <h3>Values and Drive</h3>
        <ul>
          <li *ngFor="let item of valuesDrive">{{ item }}</li>
        </ul>
      </div>
    
      <!-- Unique Strengths Section -->
      <div class="about-section" id="unique-strengths">
        <h3>Unique Strengths</h3>
        <ul>
          <li *ngFor="let item of uniqueStrengths">{{ item }}</li>
        </ul>
      </div>
    
      <!-- Future Visions Section -->
      <div class="about-section" id="future-visions">
        <h3>Future Visions</h3>
        <ul>
          <li *ngFor="let item of futureVisions">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
  