@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr; /* This makes all rows the same height */
  gap: 20px;
  justify-content: center;
  align-items: start; /* Aligns the content at the top of the grid */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
/* First .about-section */
.about-container > .about-section:nth-child(1) h3{
  color: #FF6B6B;
}
.about-container > .about-section:nth-child(1) li {
  border-left-color: #FF6B6B;
}

/* Second .about-section */
.about-container > .about-section:nth-child(2) h3{
  color: #FFD93D;
}
.about-container > .about-section:nth-child(2) li {
  border-left-color: #FFD93D;
}

/* Third .about-section */
.about-container > .about-section:nth-child(3) h3{
  color: #6BCB77;
}
.about-container > .about-section:nth-child(3) li {
  border-left-color: #6BCB77;
}

/* Fourth .about-section */
.about-container > .about-section:nth-child(4) h3{
  color: #4D96FF;
}
.about-container > .about-section:nth-child(4) li {
  border-left-color: #4D96FF;
}

/* Fifth .about-section */
.about-container > .about-section:nth-child(5) h3{
  color: #AC66CC;
}
.about-container > .about-section:nth-child(5) li {
  border-left-color: #AC66CC;
}

/* Sixth .about-section */
.about-container > .about-section:nth-child(6) h3{
  color: #FF926B;
}
.about-container > .about-section:nth-child(6) li {
  border-left-color: #FF926B;
}

.about-section {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
  width: 300px; /* Fixed width */
  height: 250px; /* Fixed height */
  margin-bottom: 20px; /* Space between rows */
}

.about-section h3 {
  color: #2980B9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 26px; 
}

.about-section li {
  color: #555;
  background-color: #ECF0F1;
  margin-bottom: 10px; /* Reduced spacing between list items */
  padding: 0.5rem 1rem;
  border-left: 4px solid #3498DB;
  border-radius: 5px;
  list-style-type: none; /* Ensure that bullet points are removed */
}
.about-section ul {
  list-style-type: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
}

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .about-section {
    padding: 1rem;
    margin-bottom: 20px; /* Maintain bottom margin for spacing between rows */
    min-height: auto; /* Height can be automatic on small screens */
  }

  h2 {
    font-size: 32px; /* Adjusted font size on smaller screens for better readability */
  }
}

h2 {
  background: linear-gradient(to right, #2c4dff, #fd12b3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* Fallback for older versions of Safari */
  font-size: 64px; /* Set the font size to 64px */
  text-align: center;
}
