/* Base styles */
nav {
  background-color: white;
  position: sticky;
  display: block;
  top: 0px; /* Align to the top of the viewport */
  left: 0px;
  width: 100%; /* Ensure it spans the full width */
  z-index: 10; /* Keep it above other content */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure vertical alignment */
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
  padding: 0 1rem; /* Padding left and right for the container */
}

.navbar-logo img {
  height: auto; /* Maintain the aspect ratio */
  width: 200px; /* Set the width of the logo */
  vertical-align: middle; /* Align the image vertically */
}

.navbar-logo a {
  border: none;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center; /* Center the list items vertically */
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  line-height: normal; /* Reset line-height to avoid affecting height */
}

nav ul li a:hover {
  background-color: #A9A9A9; /* Darker shade of gray for better visibility */
  color: white; /* White text for contrast */
}

.dropdown-toggle {
  display: none; /* Hidden by default */
  font-size: 1.5rem; /* Example size, adjust as needed */
  border: none;
  background: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: row; /* Keep the navbar logo and toggle on the same row */
    justify-content: space-between; /* Adjust the space between logo and toggle */
  }

  .navbar-logo img {
    width: 100px; /* Smaller size for mobile */
    height: auto; /* Maintain the aspect ratio */
  }
 
  nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%; /* Dropdown should start right below the navbar */
    left: 0;
    background-color: white;
    padding: 1rem 0;
    border-radius: 0 0 4px 4px;
    display: none; /* Hide initially */
    z-index: 9; /* Ensure dropdown appears below navbar */
  }

  nav ul.open {
    display: flex; /* This will be applied when isDropdownOpen is true */
  }

  nav ul li a {
    display: block;
    text-align: center;
    border: none; /* Remove borders on mobile for a cleaner look */
    color: black; /* Change text color for visibility against the dark background */
  }


  nav ul li a:active {
    background-color: #A9A9A9; /* Darker shade of gray for better visibility */
    color: white; /* White text for contrast */
  }

  .dropdown-toggle {
    display: block; /* Show the toggle button on mobile */
    margin-right: 1rem; /* Add some margin to the right of the toggle button */
  }
}

