<nav>
  <div class="nav-container">
    <div class="navbar-logo">
      <a href="/">
        <img src="./assets/images/icons/Satnam_Logo.jpeg" alt="Logo">
      </a>
    </div>
    <button class="dropdown-toggle" (click)="toggleDropdown()">☰</button>
    <ul id="navbar-menu" [class.open]="isDropdownOpen">
      <li *ngFor="let item of navItems">
        <!-- Modified click event to also toggle the dropdown -->
        <a [routerLink]="item.path" (click)="isDropdownOpen = false; scrollToSection($event, item.path)">{{ item.label }}</a>
      </li>
    </ul>
  </div>
</nav>
