<nav>
  <div class="nav-container">
    <div class="navbar-logo">
      <a href="/">
        <img src="./assets/images/icons/Satnam_Logo.jpeg" alt="Logo">
      </a>
    </div>
    <button class="dropdown-toggle" (click)="toggleDropdown()">☰</button>
    <ul id="navbar-menu" [class.open]="isDropdownOpen">
      <!-- Resume Item -->
      <li>
        <a (click)="openResume()">Resume</a>
      </li>
      <!-- Other Items -->
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.path" (click)="isDropdownOpen = false; scrollToSection($event, item.path)">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Resume Modal - Adjusted to match the image pop-out structure -->
  <div *ngIf="showResumeModal" class="pop-out-view" (click)="showResumeModal = false">
    <div class="modal-content">
      <button class="download-button" (click)="downloadPdf()">Download Resume</button>
      <img class="resume-pdf" src="./assets/resume/SatnamWalia.png">
    </div>
  </div>
</nav>
