<section class="projects-dropdowns">
  <div *ngFor="let year of projectYears" class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown(year)">{{ year }}</button>
    <div *ngIf="activeDropdown === year" class="dropdown-content">
      <div class="projects-grid">
        <div *ngFor="let project of projects[year]" class="project-item">
          <a [href]="project.link" target="_blank">
            <img [src]="project.imageUrl" alt="{{ project.title }}">
            <div class="project-description"> <!-- This div wraps the title and the category -->
              <h4 class="project-title">{{ project.title }}</h4>
              <p class="project-category">{{ project.category }}</p> <!-- Additional category description -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
