<app-navigation [navItems]="[
  { label: 'Home', path: '/'},
  { path: '#my-contribution', label: 'My Contributions' }
]"></app-navigation>



<section class="project-section">
    <div class="project-container">
        <header class="project-header">
            <h1 class="project-title">Big Data</h1>
            <p class="project-subtitle">Java, JUnit, Pub/Sub, Map/Redue, K-mean</p>
            <p class="contribution-date">Oct 2023 - Dec 2023</p>
        </header>
        
        <table class="project-table">
            <tr>
                <td class="project-table-cell">
                    <h2 id ="overview" class="project-table-heading">Project Overview</h2>
                    <p class="project-table-text">The project involves creating a K-means pub/sub system for iterative data clustering. It subscribes to data sources, processes them through N iterations of K-means clustering, and publishes the results. Designed for efficiency and adaptability, the system targets accurate data classification, catering to diverse applications.</p>
                </td>
                <td class="project-table-cell">
                    <h2 id = "business-impact" class="project-table-heading">Project Impact</h2>
                    <p class="project-table-text">Integrating K-means with a pub/sub system for N iterations of data clustering significantly enhances data analysis. Traditional pub/sub systems, limited to single-iteration processing, are now empowered to refine and adjust data categorization iteratively. This advancement is transformative in dynamic environments like market segmentation and anomaly detection, where evolving data patterns demand adaptive analysis. The iterative nature of K-means within this scalable pub/sub framework ensures more accurate, nuanced insights, especially crucial in handling large, complex datasets. This integration marks a leap in data processing capabilities, with broad implications across various sectors from consumer analytics to cybersecurity.</p>
                </td>
            </tr>
        </table>

        <app-image-slider [slides]="slides"></app-image-slider>    
    
        
        <footer class="image-footer">
            <p class="image-description">Description of the Jira Metric Tool interface.</p>
        </footer>

        <table class="contributions-table">
            <tr>
                <td class="contributions-cell">
                    <h2 id="my-contribution" class="contributions-heading">My Contributions</h2>
                    <p class="role-title">Brand Designer</p>
                </td>
                <td class="contributions-cell">
                    <p class="contribution-description">In a groundbreaking K-means pub/sub project, I played a pivotal role in developing two core components: the Publisher and the Mapper.</p>
                    <br>
                    <p class="contribution-description"><strong>Publisher Development:</strong> Crafted to efficiently manage diverse data streams, the Publisher I developed is a testament to my focus on system adaptability and robust data handling.</p>
                    <br>
                    <p class="contribution-description"><strong>Mapper Creation:</strong> I engineered the Mapper to transform raw data into an optimized format for clustering, significantly streamlining the system's preprocessing phase.</p>
                    <br>
                    <p class="contribution-description"><strong>Testing and Reliability:</strong> My comprehensive suite of test cases ensured the seamless functionality of these components, affirming their reliability and the system's overall accuracy.</p>
                    <br>
                    <p class="contribution-description">These contributions were integral to the project's success, showcasing my commitment to innovation and precision in data processing within the data analytics domain.</p>
                </td>
            </tr>
        </table>
    </div>
    <app-contact></app-contact>
</section>
