<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="jira-metric-tool#overview">Overview</a></li>
        <li><a href="jira-metric-tool#business-impact">Business Impact</a></li>
        <li><a href="jira-metric-tool#my-contribution">My Contributions</a></li>
    </ul>
</nav>


<section class="project-section">
    <div class="project-container">
        <header class="project-header">
            <h1 class="project-title">Project 1</h1>
            <p class="project-subtitle">Graphic Design</p>
        </header>
        
        <table class="project-table">
            <tr>
                <td class="project-table-cell">
                    <h2 id ="overview" class="project-table-heading">Project Overview</h2>
                    <p class="project-table-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </td>
                <td class="project-table-cell">
                    <h2 id = "business-impact" class="project-table-heading">Business Impact</h2>
                    <p class="project-table-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </td>
            </tr>
        </table>

        <div class="image-container">
            <img src="./assets/jira_metric_tool.png" alt="Jira Metric Tool Screenshot" class="full-width-image"/>
        </div>
        
        <footer class="image-footer">
            <p class="image-description">Description of the Jira Metric Tool interface.</p>
        </footer>

        <table class="contributions-table">
            <tr>
                <td class="contributions-cell">
                    <h2 id="my-contribution" class="contributions-heading">My Contributions</h2>
                    <p class="role-title">Brand Designer</p>
                    <p class="contribution-date">Apr 2014 - Mar 2015</p>
                </td>
                <td class="contributions-cell">
                    <p class="contribution-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </td>
            </tr>
        </table>
    </div>
    <app-contact></app-contact>
</section>
